/********************************************************************/
/* CORE *************************************************************/
/********************************************************************/

html {

	height: 100%;
	font-size: 75%; font-family: $font; font-weight: $normalFont;

}

body {
	
	height: 100%; overflow: hidden; background-color: $color01;

}

a {

	color: #fff;

}

/* GENERAL
/********************************************************************/
.appWrap {

	@include transition (all .25s ease-in);
	position: absolute; width: 100%; height: 100%; overflow: auto;
	background-color: $color01;

	&.ng-enter {

		right: -100%;

	}

	&.ng-enter.ng-enter-active {

		right: 0;

	}

	&.ng-leave {

		opacity: 1;

	}

	&.ng-leave.ng-leave-active {

		opacity: 0;

	}

	&.backwards.ng-enter {

		right: 100%;

	}

	&.backwards.ng-enter.ng-enter-active {

		right: 0;

	}

}

.button {

	@include default-button();
	@include box-sizing(border-box);

	border: 0; background: darken($color01,5); color: #fff;
	font-size: em(12,12); line-height: em(18,12); font-weight: $normalFont; text-transform: uppercase;
	padding: em(20,12) em(10,12); width: 100%; text-align: center;

}

.notification {

	padding: 2em;
	line-height:em(16,12); text-transform: uppercase;

	p {

		margin-bottom: 2em; text-align: center;

	}

}

.infoText {

	padding: 1em;
	position: absolute; bottom: 0; left: 0; right: 0;
	line-height:em(16,12); color: darken(#fff,20); text-transform: uppercase;

}
