/********************************************************************/
/* CORE *************************************************************/
/********************************************************************/

html {

	height: 100%;
	font-size: 75%; font-family: $font; font-weight: $normalFont;

}

body {
	
	height: 100%; overflow: hidden; background-color: $color01;

}

a {

	color: #fff;

}

/* GENERAL
/********************************************************************/
.appWrap {

	@include transition (all .25s ease-in);
	position: absolute; width: 100%; height: 100%; overflow: auto;
	background-color: $color01;

	&.ng-enter {

		right: -100%;

	}

	&.ng-enter.ng-enter-active {

		right: 0;

	}

	&.ng-leave {

		opacity: 1;

	}

	&.ng-leave.ng-leave-active {

		opacity: 0;

	}

	&.backwards.ng-enter {

		right: 100%;

	}

	&.backwards.ng-enter.ng-enter-active {

		right: 0;

	}

}

.btnArea {

	margin: 1em 2em;

	.button {

		margin: 1em 0;

	}

}

.button {

	@include default-button();
	@include box-sizing(border-box);

	border: 0; background: darken($color01,5); color: #fff;
	font-size: em(12,12); line-height: em(18,12); font-weight: $normalFont; text-transform: uppercase;
	padding: em(20,12) em(10,12); width: 100%; text-align: center;

}

.notification {

	margin: 2em;
	line-height:em(16,12); text-transform: uppercase;

	p {

		text-align: center;

	}

}

.infoText {

	padding: 1em;
	position: absolute; bottom: 0; left: 0; right: 0;
	line-height:em(16,12); color: darken(#fff,20); text-transform: uppercase;

}

.list {

	a {

		display: block; position: relative;
		border-top: 1px solid $color01; background: darken($color01,2);
		padding: 1em; padding-left: 104px; min-height: 60px;

	}

	img {

		position: absolute; top: 1em; left: 1em;
		width: 80px; height: 60px;

	}

	strong {

		font-weight: $normalFont;

	}

}

.audioFrame {

	position: relative; padding-bottom: 40%;

	iframe {

		position: absolute; width: 100%; height: 100%;

	}

}