/********************************************************************/
/* SEARCH ***********************************************************/
/********************************************************************/

.search {

	padding: 2em 1em;

	p {

		margin-bottom: 2em;

	}

	input {

		border: 0; background: #fff; border: 0;
		font-size: em(14,12); line-height: em(18,14); font-weight: $normalFont;
		padding: em(20,14) em(10,14); width: 100%; margin-bottom: 1em;

	}

}

.list {

	a {

		display: block; position: relative;
		border-top: 1px solid $color01; background: darken($color01,2);
		padding: 1em; padding-left: 104px; min-height: 60px;

	}

	img {

		position: absolute; top: 1em; left: 1em;
		width: 80px; height: 60px;

	}

	strong {

		font-weight: $normalFont;

	}

}