/********************************************************************/
/* SEARCH ***********************************************************/
/********************************************************************/

.search {

	padding: 2em 1em;

	p {

		margin-bottom: 2em;

	}

	input {

		border: 0; background: #fff; border: 0;
		font-size: em(14,12); line-height: em(18,14); font-weight: $normalFont;
		padding: em(20,14) em(10,14); width: 100%; margin-bottom: 1em;

	}

	button {

		@include default-button();

		border: 0; background: darken($color01,5); color: #fff;
		font-size: em(12,12); line-height: em(18,12); font-weight: $normalFont; text-transform: uppercase;
		padding: em(20,12) em(10,12); width: 100%;

	}

}

.list {

}