/* Typo
*******************************************************/
$font: Roboto, Helvetica, Arial, sans-serif;

$normalFont: 300;
$boldFont: 500;

/* Colors
*******************************************************/

$color01: #005670;
